<article>
  <picture>
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt="image placeholder"
      height="200px"
    />
  </picture>
  <header>
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </header>
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aut,
      ipsa laboriosam delectus expedita vero. Harum ipsam rem blanditiis quaerat
      ad, autem impedit sapiente fugiat esse, qui eum numquam tenetur!
    </p>
  </main>
</article>
