@import '../../../scss/_var';
@import '../../../scss/_mixin';

article {
  @include displayFlex(none, none, row);

  position: relative;
  width: 43.75rem;
  gap: 1.25rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  picture {
    img {
      width: 12.5rem;
      min-width: 12.5rem;
    }
  }

  header {
    @include displayFlex;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $white;
  }
}
